.navbar {
  overflow: hidden;
}

.pet_images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding:1em;
    line-height:1.5em;
    border:solid 5px #41403E;
}

.axis path,
.axis line {
    fill: none;
    stroke: teal;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Optima, Futura, sans-serif;
    font-weight: bold;
    font-size: 1em;
    fill: teal;
}

ul {
    list-style-type: square;
}

h1 {
    text-align: center;
}